/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f7f9fc;
    color: #222;
}

/* Navigation */
header {
    background-color: #003f91; /* deep blue */
    padding: 15px 40px;
}

/* Navbar layout */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo img {
    height: 90px; /* adjust as needed */
}

/* Navigation links */
.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: #a9d6f2;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
}

.navbar a:hover {
    text-decoration: underline;
}


/* Sections */
.section {
    flex: 1;
    padding: 60px 20px;
    text-align: center;
}

.section h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #003f91;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color:#003f91;
;
}

.section p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 20px auto;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    margin: 10px 0;
    font-size: 1.1rem;
}

/* About photo */
.about-photo {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin: 20px 0;
}

/* Footer */
footer {
    background: #003f91;
    color: #a9d6f2; /* blue */
    text-align: center;
    padding: 15px 10px;
    margin-top: auto;
}
